@CHARSET "UTF-8";

.puma-bib ol {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.puma-bib ol > li {
	margin-bottom: 1em;
}

ul.publication-menu {
	list-style: none;
	padding-left: 0px;
}

ul.publication-menu li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

ul.publication-menu li:first-of-type {
	margin-left: 0px;
}

ul.publication-menu li a {
	cursor: pointer;
}

ul.publication-menu li a:before {
	content: '[ ';
}

ul.publication-menu li a:after {
	content: ' ]';
}

ul.publication-menu li a:hover {
	text-decoration: underline;
}

div.bibtex > textarea {
	width: 85%;
}

.puma-bib .hidden {
	display: none;
}

.puma-bib div.abstract {
	border-left: 1px solid grey;
	padding-left: 5px;
}